* {
    padding: 0;
    margin: 0;
}
body{
    /* overflow: hidden; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hkt_slider_item {
    float: left;
    width: 100vw;
    transition: all .5s;
}

div#hkt_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

div#hkt_nav span {
    display: block;
    background: #fdfffe;
    padding: 5px 10px;
    color: red;
    cursor: pointer;
}

span#hkt_prev {
    position: absolute;
    top: 40%;
    left: 5%;
    /* transform: translate(-50%,-50%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fdfffe;
    padding: 8px 20px;
    color: red;
    cursor: pointer;
}

span#hkt_prev:hover, span#hkt_next:hover {
    background: green;
    color: white;
}

span#hkt_next {
    position: absolute;
    top: 40%;
    right: 5%;
    /* transform: translate(-50%,-50%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fdfffe;
    padding: 8px 20px;
    color: red;
    cursor: pointer;
}




#hkt_slider {
    overflow: hidden;
    position: relative;
}

#hkt_slider_out{
    transition: all .5s;
}

/* .hkt_slider_item a {
    border: 1px solid red;
    display: block;
    height: 100%;
    width: 100%;
} */

.hkt_slider_item img {
    width: 100%;
}


div#hkt_slider_out:after {
    display: table;
    clear: both;
    content: "";
}

li.hkt_dots_li {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid gray;
}

ul#hkt_dots_ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#hkt_dots {
    margin-top: 15px;
}
li.hkt_dots_li.active {
    background: green;
    border: 2px solid lawngreen;
}

#banner-slider-1{
    background: url("/frontend_assets/image/bg-slider-01.jpg");
    background-size: cover;
}